In [3]:
import pandas as pd
#generate a large volume of random data(eg. 1 millon data points)
volume_data = pd.read_csv('/content/drive/MyDrive/Dataset/adult_income.csv')
print("volume of data:",len(volume_data))

volume of data: 32561

In [5]:
import time
import numpy as np
#simulate streaming data every second for 10 seconds
velocity_data = pd.read_csv('/content/drive/MyDrive/Dataset/adult_income.csv')
for i in range(10):
  velocity_data=np.random.rand( )#generate random data
  print("velocity data point:",velocity_data)
  time.sleep(2)#wait for 1 second to simulate real-time data stream

velocity data point: 0.6084962549169197
velocity data point: 0.5092956557783173
velocity data point: 0.4249039550542475
velocity data point: 0.18673535157112453
velocity data point: 0.8946448076550969
velocity data point: 0.5513720612265509
velocity data point: 0.8806116239886288
velocity data point: 0.5508614017388301
velocity data point: 0.3741238966729705
velocity data point: 0.45544868171423014

In [7]:
import pandas as pd
import random
#generate some random data with noise
veracity_data = pd.read_csv('/content/drive/MyDrive/Dataset/adult_income.csv')
veracity_data=[random.choice([1,2,3,None])for _ in range(20)]
print("veracity data:",veracity_data)

veracity data: [1, 1, 2, 2, 2, None, 1, None, 1, 1, 3, 1, 3, 1, 1, 2, 2, 1, 2, 1]

In [10]:
structured_data = pd.read_csv('/content/drive/MyDrive/Dataset/adult_income.csv', sep =',')
#structured data
print(structured_data)
#semi-structured data(JSON)
semistructured_data = pd.read_csv('/content/drive/MyDrive/Dataset/adult_income.csv', sep =',')
print(semistructured_data)
#unstructured data(text)
unstructured_data="This is a sample text document.It can contain any information in free form"
print(unstructured_data)

       Unnamed: 0  age  fnlwgt  education.num  sex  capital.gain  \
0               0   90   77053              9    0             0
1               1   82  132870              9    0             0
2               2   66  186061             10    0             0
3               3   54  140359              4    0             0
4               4   41  264663             10    0             0
...           ...  ...     ...            ...  ...           ...
32556       32556   22  310152             10    1             0
32557       32557   27  257302             12    0             0
32558       32558   40  154374              9    1             0
32559       32559   58  151910              9    0             0
32560       32560   22  201490              9    1             0

       capital.loss  hours.per.week  income
0              4356              40       0
1              4356              18       0
2              4356              40       0
3              3900              40       0
4              3900              40       0
...             ...             ...     ...
32556             0              40       0
32557             0              38       0
32558             0              40       1
32559             0              40       0
32560             0              20       0

[32561 rows x 9 columns]
       Unnamed: 0  age  fnlwgt  education.num  sex  capital.gain  \
0               0   90   77053              9    0             0
1               1   82  132870              9    0             0
2               2   66  186061             10    0             0
3               3   54  140359              4    0             0
4               4   41  264663             10    0             0
...           ...  ...     ...            ...  ...           ...
32556       32556   22  310152             10    1             0
32557       32557   27  257302             12    0             0
32558       32558   40  154374              9    1             0
32559       32559   58  151910              9    0             0
32560       32560   22  201490              9    1             0

       capital.loss  hours.per.week  income
0              4356              40       0
1              4356              18       0
2              4356              40       0
3              3900              40       0
4              3900              40       0
...             ...             ...     ...
32556             0              40       0
32557             0              38       0
32558             0              40       1
32559             0              40       0
32560             0              20       0

[32561 rows x 9 columns]
This is a sample text document.It can contain any information in free form